body {
    background-color: #1c1c1c;
}

.header {
    display: flex;
    background-color: #1c1c1c;
    height: 10%;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1px;
    padding: 0px;
    font-style: #1c1c1c;
    /*position: fixed;*/
}

.nav {
    display: flex;
    justify-content: space-between;
}

.Inicio {
    display: flex;
    height: 30px;
    width: 50px;
}

.menu {
    display: flex;
    width: 100%;
}


/* .logo {
    border: 0;
    background-color: transparent;
} */